<h1>Index <%= User.find_by_id(session[:user_id]).name %> </h1>
<div>
    <% @users.each do |user|%>
        <ul>
            <li> <%= link_to user.name , user_path(user.id) %> </li>
        </ul>
    <% end %>
</div>