<h1>All Events from Event controller</h1>

<% @events.each do |event| %>
    <ul>  
        <li>Creator: <%= event.creator.name %> </li>
       <li> Event Date: <%= link_to event.event_date , event_path(event.id) %> </li>
    </ul>
   
<% end %>