<h1>Show All Date Event</h2>
   <p> <% @event.attendees.each do |attendee| %> </p>
         <p><%= attendee.name %></p>
      <% end %>
   
   <%= button_to 'Register Now', register_event_path(@event.id) %>
  